html
   head
        title ToDo App
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous")
        style 
            include ../stylesheets/editStyle.css
        script 
            include ../eventScript.js
   body
        if(type === "error")
            h4 #{message}
        table.container
            tr
                th(style="width:10%") ID
                th(style="width:40%") To-Do
                th(style="width:20%") Created
                th(style="width:20%") Due By
                th(style="width:10%") Completed?

            each element,index in toDoArray
                tr
                    td=element.ID
                    td= element.toDoName
                    td= new Date(element.create).toLocaleString()
                    td= new Date(element.dueDate).toLocaleString()
                    td
                        form(action=`/todo/${element.ID}`, method="post")
                            if (element.complete)
                                input(value="yes" id ="yesId" type="radio" name="completed" checked)
                                label(for="yes") Yes
                                input(value="no" id ="noId" type="radio" name="completed" )
                                label(for="no") No
                                button(type = "Submit") Save
                            else 
                                input(value="yes" id ="yesId" type="radio" name="completed" )
                                label(for="yes") Yes
                                input(value="no" id ="noId" type="radio" name="completed" checked)
                                label(for="no") No
                                button(type = "Submit") Save
                                
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous") 
                            
//-    script
//-         include ../controllers/addController.js
//-         include ../index.js
